.Home {
    padding-top: 100px;
}

.icon {
    position: relative;
    left: 200px;
}

.left {
    height: 25%;
    width: 25%;
    display: flex;
    justify-self: flex-start;

    
}

.right{
    height: 25%;
    width: 25%;
    display: flex;
    justify-self: flex-end;
}